<div style="height: 100%; width: 100%; display: flex; flex-direction: column;justify-content: center;align-items: center; gap: 4px;">
  <input style="height: 40px; width: 200px;border: 1px solid #cac7c7; border-radius: 12px;" type="text" [(ngModel)]="name">
  <input style="height: 40px; width: 200px;border: 1px solid #cac7c7; border-radius: 12px" type="text" [(ngModel)]="code">
  <button style="height: 40px; width: 80px; cursor: pointer; background: transparent; border-radius: 12px" (click)="submit()">Submit</button>
</div>

<router-outlet />
